* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #D6EAF8;
}

body {
  font-family: Noto Sans, sans-serif;
  color: black
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: #d3d3d3;
}

button:hover {
  background-color: #6bb1df;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1em;
  border-bottom: 2px solid black;
  transition: all 0.2s;
  width: 30%;
}
